/* aqui fica a aparência da caixa ou seja tudo que eu colocar aqui muda a caixa */
.caixa{
    background-color: #7ebea1;
}
.caixa2{
    background-color: #7ebea1;
    align-items: center;
    text-align: center;
}
/*aqui fica a aparência do body ou seja tudo que eu colocar muda o body do site */
body{
    text-align: center;
    align-items: center;
    background-color: #00c3ff;
}
/*aqui fica a aprência da pesquisa ou seja tudo que eu mudar ou colocar aqui vai mudar a pesquisa do index*/
.pesquisa{

background-color: rgba(220, 20, 60, 0.493);

align-items: center;
text-align: center;
}
